.App {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-header {
  margin: 0;
  border: none;
  line-height: 24px;
  padding: 10px;
  font-size: 24px;
  color: white;
  background-color: #282c34;
}

.report-details__content {
  color: #4d4d4d;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-details__image {
  z-index: 2;
  position: absolute;
  color: orange;
  padding: 7px;
  height: 100px;
  top: -55px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 15px 30px rgb(0 0 0 / 50%);
}

.report-details__name {
  margin: 50px 0 0;
}

.report-details__badge {
  width: max-content;
  padding: 8px 20px;
  border-radius: 19px;
  color: white;
}

.report-details__badge__moving {
  background-color: #6bc167;
}

.report-details__badge__parked {
  background-color: #ffc400;
}

.report-details__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.report-details__data__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.report-details__column__labels {
  color: #999999;
}

.report-details__column__values {
  font-weight: bold;
}

.mapboxgl-popup-content {
  border-radius: 12px;
  box-shadow: 0 15px 30px rgb(0 0 0 / 50%);
}
